[Desktop Entry]
Name=Acer Battery Health
Exec=/usr/bin/acer-battery-control-gui
Icon=acer-battery-control
Type=Application
Categories=Utility;System;
Terminal=false
